@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?072edb7ce6d6f66c4081dd7c7ad93287") format("truetype"),
url("./flaticon.woff?072edb7ce6d6f66c4081dd7c7ad93287") format("woff"),
url("./flaticon.woff2?072edb7ce6d6f66c4081dd7c7ad93287") format("woff2"),
url("./flaticon.eot?072edb7ce6d6f66c4081dd7c7ad93287#iefix") format("embedded-opentype"),
url("./flaticon.svg?072edb7ce6d6f66c4081dd7c7ad93287#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-creativity:before {
    content: "\f101";
}
.flaticon-necklace:before {
    content: "\f102";
}
.flaticon-cup:before {
    content: "\f103";
}
.flaticon-tshirt:before {
    content: "\f104";
}
.flaticon-printer:before {
    content: "\f105";
}
.flaticon-pillow:before {
    content: "\f106";
}
